<ion-content class="library-content" fullscreen="true" mode="ios">
  <!-- Header -->
  <div class="header-container">
    <div class="header-overlay"></div>
    <div class="header-content">
      <h1 class="header-title">Your Library</h1>
    </div>
  </div>

  <!-- Content -->
  <div class="library-items">
    <div class="list-item" (click)="goToLikedSongs()">
      <div class="item-icon">
        <span class="material-icons">favorite</span>
      </div>
      <div class="item-details">
        <h3 class="item-title">Liked Songs</h3>
        <p class="item-subtitle">{{ homePageSongs.length }} songs</p>
      </div>
      <div class="item-arrow">
        <span class="material-icons">chevron_right</span>
      </div>
    </div>

    <div class="list-item" (click)="goToLikedVideos()">
      <div class="item-icon">
        <span class="material-icons">video_library</span>
      </div>
      <div class="item-details">
        <h3 class="item-title">Liked Videos</h3>
        <p class="item-subtitle">{{ likedVideos.length }} videos</p>
      </div>
      <div class="item-arrow">
        <span class="material-icons">chevron_right</span>
      </div>
    </div>
  </div>

</ion-content>

@if(player.getCurrentSong()) {
  <app-music-controls></app-music-controls>
}