<ion-header>
    <ion-toolbar>
        <ion-title>liked Songs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list *ngIf="songs.length">
        @for(song of songs; let i = $index; track song){
        <ion-item>
            <ion-thumbnail slot="start">
                <img [src]="song.image?.[1]?.url || song.image?.[0]?.url" alt="cover">
            </ion-thumbnail>
            <ion-label>
                <h2>{{ song.name }}</h2>
                <p>{{ song.album?.name }}</p>
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="isPlaying(i) ? pause() : playSong(i)">
                <ion-icon [name]="isPlaying(i) ? 'pause' : 'play'"></ion-icon>
            </ion-button>
        </ion-item>
        }
    </ion-list>
    @if(!songs.length){
    <div style="text-align: center; margin-top: 20px; color: gray;">
        No songs found
    </div>
    }
    <app-music-controls></app-music-controls>
</ion-content>